<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"> 
    <title>Desafio Jack Experts</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Informações Pessoais</h2>
            <p><strong>Nome:</strong> Maria Vitória</p>
            <p><strong>Idade:</strong> 25 anos</p>
            <p><strong>Curso:</strong> Análise e Desenvolvimento de Sistemas</p>
        </div>
        <div class="content">
            <div class="text-section">
                <h1>Bem-vindo ao Desafio Jack Experts</h1>
                <p>Mari Gomes &copy; Todos os direitos reservados.</p>
            </div>
            <img src="/Firefly.jpg" alt="Firefly" class="image">
        </div>
    </div>
</body>
</html>
