<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&family=Jacquarda+Bastarda+9&display=swap" rel="stylesheet">
    <title>Desafio Jack Experts</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Informações Pessoais</h2>
            <p><strong>Nome:</strong> Maria Vitória</p>
            <p><strong>Idade:</strong> 25 anos</p>
            <p><strong>Curso:</strong> Análise e Desenvolvimento de Sistemas</p>
        </div>
        <div class="content">
            <div class="text-section">
                <h1>Bem-vindo ao Desafio Jack Experts</h1>
                <p>Mari Gomes &copy; Todos os direitos reservados.</p>
            </div>
            <div class="image-container">
                <img src="/Firefly.jpg" alt="Firefly" class="image">
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="contact-section">
            <h2>Contato</h2>
            <p>Se você tiver alguma dúvida, entre em contato pelo e-mail: <a href="mailto:mariaaionvivi@gmail.com">mariaaionvivi@gmail.com</a></p>
        </div>
        <div class="social-media-section">
            <h2>Minhas Redes Sociais</h2>
            <a href="https://linkedin.com/in/mari-gomes-a12157247/" target="_blank">LinkedIn</a>
            <a href="https://github.com/Marigomes99/" target="_blank">GitHub</a>
        </div>
        <p class="footer-text">mari&copy; 2024 Maria Vitória. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
