<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/tourney" rel="stylesheet"> <!-- Link da fonte Tourney -->
    <title>Desafio Jack Experts</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2 class="edu-au-vic-wa-nt-dots-text">Informações Pessoais</h2>
            <p class="edu-au-vic-wa-nt-dots-text"><strong>Nome:</strong> Maria Vitória</p>
            <p class="edu-au-vic-wa-nt-dots-text"><strong>Idade:</strong> 25 anos</p>
            <p class="edu-au-vic-wa-nt-dots-text"><strong>Curso:</strong> Análise e Desenvolvimento de Sistemas</p>
        </div>
        <div class="content">
            <div class="text-section">
                <h1 class="edu-au-vic-wa-nt-dots-text center-text">Bem-vindo ao Desafio Jack Experts</h1>
                <img src="css/Firefly.jpg" alt="Firefly" class="image center-image">

                <!-- Código de incorporação do Canva -->
                <div style="position: relative; width: 100%; height: 0; padding-top: 56.2225%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; border-radius: 8px; will-change: transform;">
                    <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0; margin: 0;"
                        src="https://www.canva.com/design/DAGRuDIZuM0/IvcfhTw-2ocqRIUzShbD6Q/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                    </iframe>
                </div>
                <a href="https://www.canva.com/design/DAGRuDIZuM0/IvcfhTw-2ocqRIUzShbD6Q/view?utm_content=DAGRuDIZuM0&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Seja bem-vindo ao Meu Desafio Jack Experts</a> de Mari Gomes
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="contact-section">
            <h2 class="edu-au-vic-wa-nt-dots-text">Contato</h2>
            <p class="edu-au-vic-wa-nt-dots-text">Se você tiver alguma dúvida, entre em contato pelo e-mail: <a href="mailto:mariaaionvivi@gmail.com">mariaaionvivi@gmail.com</a></p>
        </div>
        <div class="social-media-section">
            <h2 class="edu-au-vic-wa-nt-dots-text">Minhas Redes Sociais</h2>
            <a href="https://linkedin.com/in/mari-gomes-a12157247/" target="_blank" rel="noopener">LinkedIn</a>
            <a href="https://github.com/Marigomes99/" target="_blank" rel="noopener">GitHub</a>
        </div>
        <p class="footer-text">mari&copy; 2024 Maria Vitória. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
