/* Define a cor de fundo geral da página */
body {
    background-color: #f5f5f5; /* Cor de fundo do projeto */
    font-family: Arial, sans-serif; /* Fonte padrão */
    color: #ffffff; /* Cor do texto */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
    height: 100vh; /* Define a altura da página para ocupar a tela */
    overflow: hidden; /* Remove rolagem da página */
}

/* Estilos do iframe */
.iframe-fixed {
    position: absolute; /* Mantém o iframe absoluto */
    top: 0; /* Alinha ao topo da página */
    left: 0; /* Alinha à esquerda da página */
    width: 100%; /* Largura total do iframe */
    height: 100%; /* Altura total do iframe */
    border: none; /* Remove a borda do iframe */
}

/* Responsividade */
@media (max-width: 768px) {
    .iframe-fixed {
        height: 400px; /* Ajusta a altura em telas menores, se necessário */
    }
}
