/* style.css */

/* Define a cor de fundo geral da página */
body {
    background-color: #f5f5f5; /* Cor de fundo do projeto */
    font-family: Arial, sans-serif; /* Fonte padrão */
    color: #333; /* Cor do texto */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
}

/* Container do iframe */
.iframe-container {
    box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
    margin-top: 1.6em;
    margin-bottom: 0.9em;
    border-radius: 8px; /* Bordas arredondadas */
}

/* Estilos do link */
.container a {
    text-decoration: none; /* Remove sublinhado do link */
    color: #007BFF; /* Cor do link */
    font-weight: bold; /* Negrito */
}

.container a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    .iframe-container {
        padding-top: 75%; /* Ajusta a proporção para telas menores */
    }
}
